body {
    font-family: Arial, sans-serif;  /* Define a fonte do texto para Arial */ 
    margin: 5px;    /* Define a margem externa do corpo da página */                                           
    padding: 0px; /* Define o preenchimento interno do corpo da página */
    background-image: url("Estrutura do site/imagens/back.png"); /* imagem de fundo */
    background-color: black; /* Define a cor de fundo para o corpo da página */
}

.filme-roda {
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o contêiner */
    white-space: nowrap; /* Impede que o conteúdo dentro do contêiner quebre em várias linhas */
    display: flex; /* Define o modelo de caixa flexível para posicionar os elementos filhos */
    animation: Esteira 50s linear infinite; /* Aplica uma animação chamada 'Esteira' que dura 50 segundos, se move linearmente e repete infinitamente */
}

.filme-roda img {
    width: 200px; /* Define a largura das imagens dentro do contêiner '.filme-roda' */
    height: 200px; /* Define a altura das imagens dentro do contêiner '.filme-roda' */
    object-fit: cover; /* Garante que as imagens cubram a área designada sem distorcer */
    margin-right: 10px; /* Define a margem à direita das imagens */
    vertical-align: middle; /* Alinha verticalmente as imagens ao meio */
}

@keyframes Esteira {
    0% {
        transform: translateX(0); /* Início da animação: posição inicial */
    }
    100% {
        transform: translateX(calc(-100% - 200px)); /* Ajuste para a largura total das imagens */
    }
}

.Titulo {
    font-size: 40px;  /* Define o tamanho da fonte dos títulos */              
    text-align: center;   /* Centraliza o texto dos títulos */
    color: rgb(255, 255, 255);  /* Define a cor do texto dos títulos para branco */     
}

.filme-container {                                            
    display: flex;  /* Define o modelo de caixa flexível para posicionar os elementos filhos */                                
    background-color: #ffffff;  /* Define a cor de fundo dos contêineres de filme */                 
    padding: 10px;  /* Define o preenchimento interno dos contêineres de filme */                 
    max-width: 750px; /* Define a largura máxima dos contêineres de filme */               
    margin: 0 auto;  /* Centraliza os contêineres de filme horizontalmente */                
}

.filme-imagem {
    width: 150px;/* Define a largura das imagens dos filmes */
    max-height: 200px;   /* Define a altura máxima das imagens dos filmes */                            
}

.filme-tabela {
    width: 100%;  /* Define a largura das tabelas para ocupar 100% do espaço disponível */                     
}

.filme-tabela th,
.filme-tabela td {
    padding: 5px 0; /* Define o preenchimento superior e inferior das células da tabela */
    border-bottom: 1px solid #0a6a2c; /* Define uma borda inferior para as células da tabela */           
    text-align: left; /* Alinha o texto das células da tabela à esquerda */                             
}

.filme-tabela th {
    background-color: #fafafa;   /* Define a cor de fundo dos cabeçalhos da tabela */                   
}

.filme-inicial {
    max-width: 100%; /* Define a largura máxima da imagem inicial para 100% */
    max-height: 100%; /* Define a altura máxima da imagem inicial para 100% */
}

.filme-catalogo {
    display: grid; /* Define o modelo de layout de grade para o catálogo de filmes */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cria colunas de grade com largura mínima de 200px e máxima flexível */
    gap: 20px; /* Define o espaçamento entre as imagens e títulos */
    justify-items: center;/* Centraliza as imagens e títulos horizontalmente */
    align-items: start; /* Alinha as imagens e títulos ao topo */
}

.filme-titulo {
    margin-top: 10px; /* Define o espaço entre a imagem e o título */
    text-align: center; /* Centraliza o texto do título */
    font-size: 16px; /* Define o tamanho da fonte do título */
    color: #ffffff; /* Define a cor do texto do título para branco */
}

.menu {
    display: inline-flex;
    justify-content: center;
    font-size: 25px;
    text-align: right;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    margin:auto;
}